<h1>Here are all the members with status <%= @status %></h1>

<h2><a href="/members/new">Add a new member!</a></h2>

<form action="/members/filter/active" method="get">
  <input type="submit" value="Filter Active">
</form>

<form action="/members/filter/paused" method="get">
  <input type="submit" value="Filter Paused">
</form>

<form action="/members/filter/archived" method="get">
  <input type="submit" value="Filter Archived">
</form>

<ul>
  <% for member in @members %>
  <li>
    <a href="/members/<%= member.id %>"><%= member.name %></a>
  </li>
  <% end %>
</ul>
