<div>
	<h2 class= "text-alert">Delete cannot be recovered</h2>
<form action="/memberships/<%= @membership.id %>/delete" method="post">
  <input type="submit"value="Delete">
</form>
</div>

<ul class = "box_of_squares">
  <li class = "square">
    <p  class="square_main"><%= @membership.name %></p>
    <div class="square_footer">
      <p class="light_text">Price: <%= @membership.price %></p>
    </div>
  </li>
</ul>
