<h1>Edit this new membership</h1>


<form action="/memberships/<%= @membership.id %>"" method="post">
<label for="name">Membership name: </label>
  <input type="text" name="name" id="name" value="<%= @membership.name %>">

  <label for="status">Membership price:</label>
  <input type="number" name="price" id="price"  value="<%= @membership.price %>">

  <input class="" type='submit' value="Submit!">
</form>
