<% content_for :submenu1 do %>
/memberships/filter/deactivated
<% end %>
<% content_for :submenu1text do %>
Show deactivated
<% end %>
<% content_for :submenu2 do %>
/memberships/new
<% end %>
<% content_for :submenu2text do %>
Create new membership
<% end %>

<h2>Active memberships</h2>
<table class="table-list">
  <tr>
    <th>Membership name</th>
    <th>Membership price</th>
  </tr>
  <% for membership in @memberships %>
    <% if membership.active == 1 %>
      <tr>
        <td><a href="/memberships/<%= membership.id %>"> <%= membership.name %> </a></td>
        <td><a href="/memberships/<%= membership.id %>"><%= membership.price %> </a></td>
      </tr>
      <% end %>
  <% end %>

</table>
