<% content_for :submenu1 do %>
/memberships/?
<% end %>
<% content_for :submenu1text do %>
Show Active
<% end %>
<% content_for :submenu2 do %>
/memberships/new
<% end %>
<% content_for :submenu2text do %>
Create new membership
<% end %>

<h2>Deactivated memberships</h2>
<table style="width:100%">
  <tr>
    <th>Membership name</th>
    <th>Membership price</th>
  </tr>
  <% for membership in @memberships %>
    <% if membership.active == 0 %>
      <tr>
        <td> <a href="/memberships/<%= membership.id %>"><%= membership.name %> </a></td>
        <td><%= membership.price %> </td>
      </tr>
      <% end %>
  <% end %>

</table>
