<h1>Add a new membership</h1>


<form action="/memberships" method="post">
<label for="name">Membership name: </label>
  <input type="text" name="name" id="name">

  <label for="status">Membership price:</label>
  <input type="number" name="price" id="price">

  <input class="" type='submit' value="Add!">
</form>
