<h1>Membership details:</h1>

<ul class = "box_of_squares">
  <li class = "square">
    <p  class="square_main"><%= @membership.name %></p>
    <div class="square_footer">
      <p class="light_text">Status: <%= @membership.price %></p>
    </div>
  </li>
</ul>
