<p>Are you sure you want to delete the class <%= @class.name %>?</p>
<p>It has <%= @members_count %> member/s.</p>

<form class="" action="/venues/<%= @class.venue_id %>/course_c/<%= @class.id %>/delete" method="post">
  <input type="submit" value="Delete this class!" >
</form>
