<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>MMA | Members Management App</title>
    <link rel="stylesheet" type="text/css" href="/layout.css">
  </head>
  <body>
    <div class= "menu" >

      <a class = "menu_item" href="/venues/">Venues</a>
      <a class = "menu_item" href="/course_c/">Classes</a>
      <a class = "menu_item" href="/members/">Members</a>
    </div>
    <div class="main_section">
      <%= yield %>
    </div>


  </body>
</html>
