
body {
background-color:#cdd9ec ;
/* DELETE BELOW */
margin: 0;
}


.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 1.5vw;
  /* border: solid thin #2b3752; */
  background-color: #090b3d;
  color: #e3f1ff;


}

.menu:last-of-type {
background-color: #1c1e4f;
font-size: 1rem;
}

.menu_item, .menu_item:active, .menu_item:visited, .menu_item:link  {
  /* border-style: solid;
  border-color: #2b3752;
  border-width: 1%; */
  padding: 1rem;
  color: #e3f1ff;

}

.menu_item:hover  {
  background-color: #333459;
}

/* or div second child of body */
.main_section {
  margin: 0 5em;
}

.square {
  border: solid thin #2b3752;
}
