<% content_for :submenu1 do %>
/venues/?
<% end %>
<% content_for :submenu1text do %>
Show all
<% end %>
<% content_for :submenu2 do %>
/venues/new
<% end %>
<% content_for :submenu2text do %>
Create New
<% end %>

<p class="text-alert">Are you sure you want to delete the venue <%= @venue.name %>?</p>

<form class="" action="/venues/<%= @venue.id %>/delete" method="post">
  <input type="submit" value="Delete this venue!" >
</form>
