
<h1>Select a venue:</h1>

<ul>
  <% for venue in @venues %>
  <li>
    <a href="/venues/<%= venue.id %>"><%= venue.name %></a>
  </li>
  <% end %>
</ul>

<h2>Or create a <a href="/venues/new">New</a> one</h2>
