<% content_for :submenu1 do %>
/venues/?
<% end %>
<% content_for :submenu1text do %>
Show all
<% end %>
<% content_for :submenu2 do %>
/venues/new
<% end %>
<% content_for :submenu2text do %>
Create New
<% end %>

<h1>Select a venue:</h1>

<ul class = "box_of_squares">
  <% for venue in @venues %>
  <li class = "square">
      <a  class="square_main" href="/venues/<%= venue.id %>"><%= venue.name %></a>
      <div class="square_footer">
        <a  class="menu_item" href="/venues/<%= venue.id %>/edit">Edit</a>
        <a  class="menu_item" href="/venues/<%= venue.id %>/delete">Delete</a>
      </div>
  </li>
  <% end %>
</ul>

<h2>Or create a <a href="/venues/new">New</a> one</h2>
